/* ===========Import Google Fonts=========== */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,500;0,8..144,600;1,8..144,400;1,8..144,500;1,8..144,600&display=swap');
/* ========X===Import Google Fonts===X======== */

*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root{
    --font-poppins : 'Poppins', sans-serif;
    --font-roboto : 'Roboto Serif', serif;
    --poppins-400 : 400;
    --poppins-500 : 500;
    --poppins-600 : 600;
    --poppins-italic-400 : 400;
    --poppins-italic-500 : 500;
    --roboto-400 : 400;
    --roboto-500 : 500;
    --roboto-600 : 600;
    --backgrund-color : #2b2d33;
    --color1 : #f75023;
    --color2 : #fff;
    --color3 : #1cbe59;
    --color4 : #8067f0;
    --color5 : #b9b5c9;
    --font-size-20 : 20px;
    --font-size-16 : 16px;
    --font-size-25 : 25px;
    --font-size-35: 35px;
    --card-background : #4b4f5c;
    --bg-1 : #fedfd7;
    --bg-2 : #ddf5e6;
    --bg-3 : #ece8fd;
    --box-shadow: 0 4px 16px rgb(28 190 89/ 15%);
}

body{
    background-color: var(--backgrund-color);
    font-family: var(--font-roboto);
    overflow-x: hidden;
    color: var(--color5);
}

/* ===============NavBar Components Styling============== */
    .navbar .container-fluid{
        padding: 8px 15px;
    }
    .background-nav {
        background-color: var(--card-background);
        box-shadow: var(--box-shadow);
    }
    .navbar .container-fluid .navbar-brand{
        color: var(--color3);
        font-family: var(--font-roboto);
        font-weight: var(--roboto-600);
        font-size: var(--font-size-35);
        cursor: pointer;
    }
    .navbar .container-fluid .navbar-toggler .fas {
        color: var(--color5);
        font-size: var(--font-size-25);
    }
    .navbar-toggler{
        border: none;
    }
    .navbar-toggler:focus{
        box-shadow: none !important;
        border: none !important;
    }
    .navbar .container-fluid .navbar-nav .nav-item .nav-link{
        color: var(--color2);
        font-size: var(--font-size-20);
        padding: 8px 10px 0px 10px;
        font-family: var(--font-poppins);
        font-weight: var(--poppins-500);
        transition: 0.4s ease-in-out;
    }
    .navbar .container-fluid .navbar-nav .nav-item .nav-link:hover{
        color: var(--color3);
    }
    .navbar .container-fluid .navbar-nav .nav-item .nav-link .fa-linkedin-in{
        font-size: var(--font-size-20);
        padding: 8px 10px;
        text-align: center;
        border-radius: 50%;
        font-weight: var(--roboto-600);
        cursor: pointer;
        background-color: var(--bg-3);
        color: var(--color4);
        box-shadow: var(--box-shadow);
    }
    .navbar .container-fluid .navbar-nav .nav-item .nav-link .fa-github{
        font-size: var(--font-size-20);
        padding:8px 10px;
        text-align: center;
        border-radius: 50%;
        font-weight: var(--roboto-600);
        cursor: pointer;
        background-color: var(--bg-2);
        color: var(--color3);
        box-shadow: var(--box-shadow);
    }
    .navbar .container-fluid .navbar-nav .nav-item .nav-link button{
        background-color: var(--color3);
        color: var(--color2);
        font-size: var(--font-size-20);
        font-family: var(--font-poppins);
        font-weight: var(--poppins-500);
    }
    .navbar .container-fluid .navbar-nav .nav-item .nav-link button:focus{
        border: 1px solid var(--color3);
    }
    .navbar .container-fluid .navbar-nav .nav-item .nav-link button span{
         padding-left: 10px;
    }
/* ===========X===NavBar Components Styling===X=========== */

/* =============NavBar Active Class Styling========= */
    .active{
        color: var(--color3) !important;
    }

/* ========X===NavBar Active Class Styling===X====== */

/* ==============Global Styling============= */
    a{
        text-decoration: none;
        color: inherit;
    }
    a:hover{
        color: inherit;
    }
/* =========X====Global Styling====X========= */

/* ===================Home Banner============== */
    .home{
        background-image: url("./background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .home .row{
        width: 100%;
        height: 100%;
    }
    .home .row .intro_card h3{
        color: var(--color3);
        font-family: var(--font-poppins);
        font-weight: var(--poppins-500);
    }
    .home .row .intro_card h1{
        color: var(--color2);
        font-family: var(--font-poppins);
        font-weight: var(--poppins-500);
        padding: 5px 0px;
    }
    .home .row .intro_card .tag ul, .home .row .intro_card .social_contact ul{
        list-style: none;
        padding: 0px !important;
        margin-top: 5px;
    }
    .home .row .intro_card .tag ul li{
        padding: 5px 10px;
        font-size: var(--font-size-16);
        margin: 0px 5px;
        text-align: center;
        border-radius: 5px;
        font-weight: var(--roboto-600);
        cursor: pointer;
    }
    .home .row .intro_card .tag ul .skill{
        background-color: var(--bg-2);
        color: var(--color3);
        box-shadow: var(--box-shadow);
    }
    .home .row .intro_card p{
        font-weight: var(--roboto-500);
        color: var(--color2);
        padding: 0px;
        font-style:italic;
    }
    .home .row .intro_card .social_contact ul li{
        font-size: var(--font-size-16);
        padding: 5px 10px;
        margin: 0px 5px;
        text-align: center;
        border-radius: 50%;
        font-weight: var(--roboto-600);
        cursor: pointer;
    }
    .home .row .intro_card .social_contact ul .socialLi{
        background-color: var(--bg-3);
        color: var(--color4);
        box-shadow: var(--box-shadow);
    }
    .home .row .intro_card .social_contact ul .socialGi{
        background-color: var(--bg-2);
        color: var(--color3);
        box-shadow: var(--box-shadow);
    }
    .home .row .intro_card .contact_me button{
        background-color: var(--color3);
        color: var(--color2);
        font-weight: var(--roboto-600);
        font-size: var(--font-size-16);
        margin: 10px 5px 0px 5px;
    }
    .home .row .intro_card .contact_me button:focus{
       border: 1px solid var(--color3);
    }
    .home .row .intro_card .contact_me button span{
        padding-left: 10px;
    }
/* ==============X====Home Banner====X========= */

/* ===============Responsiveness================== */
    @media(max-width:1024px){
        .home .row .intro_card{
            padding: 0px 50px;
        }
        .navbar .container-fluid{
            display: flex;
            flex-direction: column;
        }
    }
    @media(max-width:768px){
        .navbar .container-fluid{
            flex-direction: row;
        }
        .navbar .container-fluid .navbar-nav{
            background-color: var(--card-background);
            height: 80vh;
            text-align: center;
            padding-top: 20px;
        }
        .home .row .intro_card .tag ul{
            flex-wrap: wrap;
        }
        .home .row .intro_card .tag ul li{
            margin-top: 10px;
        }
    }
    @media(max-width: 765px){
        .home .row .intro_card{
            padding: 20px 25px 0px 25px;
        }
    }
    @media(max-width: 425px){
        .navbar .container-fluid .navbar-brand{
            font-size: var(--font-size-25) !important;
        }
    }
/* ===========X===Responsiveness====X============= */