/* ===========Import Google Fonts=========== */
    @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Lato:ital,wght@0,400;0,700;1,700&display=swap');
/* ========X===Import Google Fonts===X======== */

*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

/* ===========CSS Styling Color and Fonts Deffined=========== */
    :root{
        --font-family:'Heebo', sans-serif;
        --font-weigh4:400;
        --font-weigh5:500;
        --font-weigh6:600;
        --font-weigh7:700;
        --color1: #DE3163;
        --color2: #FFFFFF;
        --color3: #ACB1B4;
        --color4: #000000;
        --color5: #737A80;
        --color6: #02121E;
        --color8: #FF0000;
        --yellow: #fffbbc;
        --lightbox: #242424;
        --bgColor:#E9F7EF;
        --box-shadow: 0 0 20px rgb(0 0 0 / 5%);
        --box-shadowcard:  0 4px 16px rgb(0 0 0 / 10%);
    }
/* ========X===CSS Styling Color and Fonts Deffined===X======== */

/* ===============NavBar Components Styling============== */
    .navbar .container-fluid{
        padding: 8px 15px;
        background-color: var(--color2);
        box-shadow: var(--box-shadow);
    }
    .navbar .container-fluid .navbar-brand{
        color: var(--color6);
        font-family: var(--font-family);
        font-weight: var(--font-weigh6);
        font-size: 22px;
    }
    .navbar .container-fluid .navbar-brand span{
        color: var(--color1);
    }
    .navbar .container-fluid .navbar-nav .nav-item .nav-link{
        color: var(--color4);
        font-size: 18px;
        padding: 8px 10px;
        font-family: var(--font-family);
        font-weight: var(--font-weigh5);
        transition: 0.4s ease-in-out;
    }
    .navbar .container-fluid .navbar-nav .nav-item .nav-link:hover{
        color: var(--color1);
    }
/* ===========X===NavBar Components Styling===X=========== */